body { 
    margin: 0px;
}

.container {  
    display: grid;

    grid-template-columns: 30% 1fr;
    grid-template-rows: 134px 1fr;

    gap: 0px 0px;

    grid-auto-flow: row;

    grid-template-areas:
      "logo titolo"
      "sidebar contenuto";
}
  
.logo { 
    grid-area: logo; 

    background-color: rgba(230, 126, 34, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-scuola {
    display: flex;

    max-width: 100%;
    max-height: 100%;
}
  
.titolo { 
    grid-area: titolo; 

    background-color: rgba(204, 204, 204, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.titolo-header {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;

    font-size: 35px;

    display: flex;

    max-width: 100%;
}
  
.sidebar { 
    grid-area: sidebar; 

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
}

.elenco {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;

    padding: 15px;

    font-size: 30px;
}

.link {
    text-decoration: none;
    color: black;
}
  
.contenuto { 
    grid-area: contenuto;
}

td{
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    padding:5px;
}

 .titoli{
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;

    padding:10px; 

    font-size: 20px;

    align-content:left;
}

.button {
    background-color: rgba(230, 126, 34, 1);
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  p {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
  }

  option, select, input[type=datetime-local] {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
  }

  input[type=text] {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    width: 400px;
  }

  .textSpecial {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
  }